/*
*********
RESET
*********
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
*********
CONTAINER
*********
*/

.container {
    width: 1100px;
    margin: 0 auto;
    font-family: 'Fredoka', sans-serif;
}

/*
*********
HEADER
*********
*/

header {

    text-align: center;
    padding-top: 35px;
}

h1 {

    color: #e53170;
}

h1+p {

    padding-top: 60px;

}

/*
*********
MAIN
*********
*/

.box {
    margin-top: 50px;
}

.cards {
    background-color: #0f0e17;
    color: #fff;
    width: calc(100% /3 - 20px);
    float: left;
    margin: 10px
}

.info {
    float: left;
    width: calc(100% - 100px);
}

.foto {
    width: 100px;
    float: left;
}

.foto img {
    width: 100%;
    display: block;
}

/*
*********
COMMON
*********
*/

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}